
                                                <div class="modal-header">
                                                    <button type="button" class="close" ng-click="cancel()">&times;</button>
                                                    <h4 class="modal-title">Edit user</h4>
                                                  </div>
                                                  <form class="form-horizontal" name="editForm" ng-submit="update()" id="editUser">
                                                  <div class="modal-body">
                                                      <div class="form-group">
                                                        <label for="id" class="col-sm-2 control-label">Id</label>
                                                        <div class="col-sm-2">
                                                          <input ng-model="id" type="email" class="form-control" id="id" disabled>
                                                        </div>
                                                      </div>
                                                      <div class="form-group">
                                                        <label for="email" class="col-sm-2 control-label">Email</label>
                                                        <div class="col-sm-10">
                                                          <input ng-model="email" type="email" class="form-control" id="email" required>
                                                          <span class="glyphicon form-control-feedback" id="email1"></span>
                                                        </div>
                                                      </div>
                                                      <div class="form-group">
                                                        <label for="username" class="col-sm-2 control-label">Username</label>
                                                        <div class="col-sm-10">
                                                          <input ng-model="username" type="text" class="form-control" id="username">
                                                        </div>
                                                      </div>
                                                      <div class="form-group">
                                                        <label for="phone" class="col-sm-2 control-label">Phone</label>
                                                        <div class="col-sm-10">
                                                          <input ng-model="phone" type="text" class="form-control" id="phone">
                                                        </div>
                                                      </div>
                                                      
                                                  </div>
                                                  <div class="modal-footer">
                                                    <span style="margin-right: 30px; color: red;">{{error}}</span>
                                                    <span style="margin-right: 30px; color: green;">{{success}}</span>
                                                    <button type="submit" class="btn btn-primary">Save</button>
                                                    <button type="button" class="btn btn-default" ng-click="cancel()">Close</button>
                                                  </div>
                                                  </form>
                                                </div>

                                                